
#form-container {
	position: fixed;
	width: 100%;
	background: #000;
	left:0px;
	top:0px;
	z-index:10;
	
}
#a {
	position:relative;
	padding:10px 10px;
	float:left;
}
#a h1 {
	float:right;
}

#scrapedResults {
	position: absolute;
	top: 50px;
	z-index: 5;
	width: 100%;
	overflow: auto;
}

.childResults {
	position: relative;
}

.displayres {
	padding: 20px 16px 20px 16px;
	width: 100%;
}

.displayres h3 a:link {
	text-decoration: none;
}

.displayres:nth-of-type(odd) {
	background: #e0e0e0;
}

.btnsearch {
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	font-family: Georgia;
	color: #fff;
	font-size: 12px;
	background: #005F61;
	padding: 9px 36px 9px 36px;
	text-decoration: none;
	-webkit-box-shadow: 0px 0px 6px #666666;
	-moz-box-shadow: 0px 0px 6px #666666;
	box-shadow: 0px 0px 6px #666666;
}

.btnsearch:active {
	color: #fff;
}

.btnsearch:visited {
	color: #fff;
}

.btnsearch:hover {
	background: #009999;
	text-decoration: none;
}

#query {
	background: white;
	border: 1px double #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #333;
	color: #666;
	outline: none;
	height: 25px;
	width: 275px;
}